.container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}
  
nav {
  background-color: white;
  box-shadow: none;
  color: black;
}

.flexNav {

  display: flex;
  justify-content: center;
  align-items: center;

}

#blacktext {
    color: black;
    font-family: "Bungee", cursive;
    /* font-size: 15px; */
}

.space:hover {
  background-color: transparent;
  cursor: default;
}

.material-icons {
  color: black;

}

.imgbox {
  margin-top: 1vh;
}
  .responsive {
    width: 100%;
    max-width: 600px;
    /* max-height: 400px; */
    /* height: 100px; */
    height: auto;
  }
  
  
  
  
  
  @media only screen and (max-width: 800px) {
    
  .container {
    margin-top: 10vh;
  }

  nav {
  
    border-bottom: 3px solid rgb(80, 79, 79);
  }
  
  
   
  }
  
/* commenting this out made the page work */
/* @media only screen and (min-width: 800px) {
  #randomPic {
      display: none;
    
  }
} */

