nav {
  background-color: 	transparent;
  box-shadow: none;

}

nav ul a {
 
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 1.8rem;

}

nav .brand-logo {
  /* position: absolute; */
  color: black;
  font-family: 'Inconsolata', monospace;
  /* display: inline-block;
  padding: 0; */
  font-size: 2.5rem;
}

#Arizona{
 
  /* font-size: 150px; */
  color: whitesmoke;
  text-align: center;

}



.container {
  /* margin-top: 2vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}
  

/* .flexNav {
  display: flex;
  justify-content: center;
  align-items: center;
} */


.space:hover {
  background-color: transparent;
  cursor: default;
}

.material-icons {
  color: black;

}

/* .imgbox {
  margin-top: 1vh;
} */
  .responsive {
    width: 100%;
    max-width: 600px;
    /* max-height: 400px; */
    /* height: 100px; */
    height: auto;
  }

  .first-txt {
    /* position: absolute; */
    /* top: 17px;
    left: 50px; */
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    font-size: 55px;
}
  
  
  
  @media only screen and (max-width: 600px) {
    
 
  nav .brand-logo {
  
    font-size: .9rem;
 
}
  
   
  }
  
  
