.container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}
  
nav {
  background-color: white;
  box-shadow: none;
  color: black;
}

.flexNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#blacktext {
    color: black;
    font-family: "Bungee", cursive;
    /* font-size: 15px; */
}

.space:hover {
  background-color: transparent;
  cursor: default;
}

.material-icons {
  color: black;

}

/* .fa {
  color: black;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .fa {
      padding-top: 25px;
      font-size: 16px;
  }
} */
  .responsive {
    width: 100%;
    max-width: 600px;
    /* max-height: 400px; */
    /* height: 100px; */
    height: auto;
  }
  
  
  
  .Explore {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: white;
    display: none;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px;
    background-color: transparent;
    width: 225px;
  }
  
  .Explore:hover {
    background-color: transparent;
  }
  
  .fa-long-arrow-right {
    padding-left: 10px;
  }
  
  .webexplore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: white;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px;
    background-color: transparent;
    width: 225px;
  }
  .webexplore:hover {
    background-color: transparent;
  }
  
  @media only screen and (max-width: 800px) {
    /* .secondpic {
      max-width: 200px;
      height: 200px;
      
    } */
  
  
  
    .Explore {
      display: block;
    }
  
    .webexplore {
      display: none;
    }
    #randomPic {
      display: block;
    }
  }
  
/* commenting this out made the page work */
/* @media only screen and (min-width: 800px) {
  #randomPic {
      display: none;
    
  }
} */

