
.welcome {
    font-family: "Alegreya Sans SC", sans-serif;
  }
  
  .section {
    text-align: center;
  }
  

  .responsive {
    width: 100%;
    height: auto;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: white;
    display: none;
    text-align: center;
  }
  
  .Explore {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: white;
    display: none;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px;
    background-color: transparent;
    width: 225px;
  }
  
  .Explore:hover {
    background-color: transparent;
  }
  
  .fa-long-arrow-right {
    padding-left: 10px;
  }
  
  .webexplore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: white;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px;
    background-color: transparent;
    width: 225px;
  }
  .webexplore:hover {
    background-color: transparent;
  }
  
  @media only screen and (max-width: 800px) {
    /* .secondpic {
      max-width: 200px;
      height: 200px;
      
    } */
  
    .section {
      display: none;
    }
  
    .centered {
      display: none;
    }
  
    .parallax-container {
      display: none;
    }
  
    .Explore {
      display: block;
    }
  
    .webexplore {
      display: none;
    }
    #randomPic {
      display: block;
    }
  }
  
/* commenting this out made the page work */
/* @media only screen and (min-width: 800px) {
  #randomPic {
      display: none;
    
  }
} */