nav {
    background-color: white;
    box-shadow: none;
    color: black;
  }
  
  .flexNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #blacktext {
      color: black;
      font-family: "Bungee", cursive;
  }
  
  .space:hover {
    background-color: transparent;
    cursor: default;
  }
  
  .material-icons {
    color: black;
  }

  .fa {
      color: black;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card:hover {
    opacity: .75;
  }

  .card-image {
      /* width: 600px; */
      /* height: 400px; */
  }

  .card-title {
    font-family: "Bungee Shade", cursive;
   
    /* position: absolute; */
    /* top: 40%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    /* color: white; */
/* 
    text-align: center; */
    /* border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px; */
    /* background-color: transparent; */

  }