nav {
    background-color: white;
    box-shadow: none;
    color: black;
  }
  
  .flexNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #blacktext {
      color: black;
      font-family: "Bungee", cursive;
  }
  
  .space:hover {
    background-color: transparent;
    cursor: default;
  }
  
  .material-icons {
    color: black;
  }

  
  @media only screen and (max-width: 700px) {
    nav {
  
      border-bottom: 3px solid rgb(80, 79, 79);
    }
  }

  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }




  .card {
      /* height: 375px; */
  }

  .card:hover {
    opacity: .75;
  }

  .card-image {
    /* background-size: cover;
    background-position: center; */
}
/* .card-image.materialized.active {
    max-height: none;
    object-fit: none;
} */

  .card-title {
    /* font-family: "Bungee Shade", cursive; */
   
    /* position: absolute; */
    /* top: 40%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    /* color: white; */
/* 
    text-align: center; */
    /* border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 12px; */
    /* background-color: transparent; */

  }