nav {
    background-color: white;
    box-shadow: none;
    color: black;
  }
  
  .flexNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav .brand-logo {
      color: black;
      font-family: 'Homemade Apple', cursive;
  }
  
  .space:hover {
    background-color: transparent;
    cursor: default;
  }
  
  .material-icons {
    color: black;
  }

  
  @media only screen and (max-width: 700px) {
    nav {
  
      border-bottom: 3px solid rgb(80, 79, 79);
    }
  }

  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }




  .card {
      /* height: 375px; */
  }

  .card:hover {
    opacity: .75;
  }

  .card-image {
    /* background-size: cover;
    background-position: center; */
}
/* .card-image.materialized.active {
    max-height: none;
    object-fit: none;
} */

.card .card-image .card-title {
  color: #fff;
  max-width: 100%;
  padding: 24px;

  font-family: 'Raleway', sans-serif;
  position: absolute;
  bottom: -9%;
  left: 47%;
  font-size: 20px;
}


@media only screen and (min-width: 600px) {

    .card .card-image .card-title {
      color: #fff;
      max-width: 100%;
      padding: 24px;
      font-family: 'Raleway', sans-serif;
      position: absolute;
      bottom: -4%;
      left: 58%;
      font-size: 29px;
    
    
    }

  }