/* Destination page CSS starts here */

.house3 {
    margin-top: 25px;
    text-align: center;
    /* padding-bottom: 2.5rem; */
}

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2.5rem;

   
   
   color: white;
   text-align: center;
}

.nav1 {
    background-color:#D9663D;
}

.destName {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color:black;
    font-weight: bolder;
    letter-spacing: 10px;   
}



.indicator-item{
    padding: 7px;
}

.carousel {
    border-style: solid;
    border-width: 5px;
    border-color:  #D9663D;
    width:  30vw;
    margin:auto;

}

@media only screen and (max-width: 700px) {
    
    .carousel {
        width: 90vw;
    }

    .destName {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .footer {
        position: absolute;
    }
    /* .dennis {
        position: relative;
        min-height: 100vh;
    } */
    .house3 {
        padding-bottom: 2.5rem;
    }

}



.carousel-item img {
        width:  100%;
        height: 100%;
    
}


/* .carousel-item {
    border-style: solid;
    border-width: 5px;
    border-color:  #F28B30;
} */