body {
    
}

.house {
    margin-top: 200px;
}


.welcome {
    
    color: #35848C;
    font-size: 50px;
    margin-bottom: 0;
    padding-left: 360px;
    
    
}

.arizona {
    text-align: center;
    color: #D9663D;
    font-size: 100px;
    
}