/* Destination page CSS starts here */

.house3 {
    margin-top: 25px;
    text-align: center;
    /* padding-bottom: 2.5rem; */
}

.footer {
    color: white;
    text-align: center;
    background-color:  #35848C;
    height: 64px;

}

.nav1 {
    background-color: #35848C;
    font-family: "Bungee", cursive;
}

.destName {
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;
    color:black;
    font-weight: bolder;
    letter-spacing: 8px;
    width: 30vw;   
}



.indicator-item{
    padding: 7px;
}

.carousel {
    /* border-style: solid;
    border-width: 5px;
    border-color:  #35848C; */
    width:  30vw;
    margin:auto;

}

.carousel-item img {
    width:  100%;
    height: 100%;

}


/* .carousel-item {
border-style: solid;
border-width: 5px;
border-color:  #F28B30;
} */

.destDescrip {
/* margin:auto; */
/* width: 30vw;
  margin: auto; */
text-align: justify;
font-family: 'Aleo', serif;
margin-top: 4vh;
width: 30vw;

/* align-content: center; */
}



.destDirec {
font-family: 'Aleo', serif;
}

#destWeather {
/* text-align: justify; */
font-family: 'Aleo', serif;
}

@media only screen and (max-width: 700px) {
    
    .carousel {
        width: 90vw;
    }

    .destDescrip {
        width: 90vw;
      }

    .destName {
        width: 90vw;
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .house3 {
        padding-bottom: 2.5rem;
    }

}

