/* Destination page CSS starts here */

.house3 {
    margin-top: 25px;
    text-align: center;
    /* padding-bottom: 2.5rem; */
}

.footer {
    color: white;
    text-align: center;
    background-color:  #D93A2B;
    height: 64px;

}

.nav1 {
    background-color: #D93A2B;
    font-family: "Bungee", cursive;
}

.destName {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color:black;
    font-weight: bolder;
    letter-spacing: 10px;   
}



.indicator-item{
    padding: 7px;
}

.carousel {
    border-style: solid;
    border-width: 5px;
    border-color:  #D93A2B;
    width:  30vw;
    margin:auto;

}

@media only screen and (max-width: 700px) {
    
    .carousel {
        width: 90vw;
    }

    .destName {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .footer {
        position: absolute;
    }
    /* .dennis {
        position: relative;
        min-height: 100vh;
    } */
    .house3 {
        padding-bottom: 2.5rem;
    }

}



.carousel-item img {
        width:  100%;
        height: 100%;
    
}


/* .carousel-item {
    border-style: solid;
    border-width: 5px;
    border-color:  #F28B30;
} */
.destDescrip {
    /* margin:auto; */
    /* width: 30vw;
      margin: auto; */
    text-align: justify;
    font-family: 'Aleo', serif;
  
    /* align-content: center; */
  }
  
  
  
  .destDirec {
    font-family: 'Aleo', serif;
  }
  
  #destWeather {
    /* text-align: justify; */
    font-family: 'Aleo', serif;
  }