nav {
  background-color: white;
  box-shadow: none;
  color: black;
}

.flexNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#destWeather {
  height: 50px;
}
.space:hover {
  background-color: transparent;
  cursor: default;
}

#destTemp {
  color: black;
}
.material-icons {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destName {
  /* text-align: center; */

  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  /* letter-spacing: 10px; */
  /* width: 30vw; */
}


.responsive {
 width: 100%;
  max-width: 500px; 
  height: auto;
}



/* 
.destDescrip {
  text-align: justify;
  font-family: "Aleo", serif;
  margin-top: 4vh;
  width: 30vw;
} */


@media only screen and (max-width: 700px) {

  nav {
  
    border-bottom: 3px solid rgb(80, 79, 79);
  }
}
