body {
  /* background-color: white; */

}
.firstpic {
   max-width: 100%;
 
}
.secondpic {
  max-width: 100%;
  /* height: 100%; */
}


container {
 
  /* min-height: 100vh;   */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 56.25% */
  /* background-color: black; */
  /* max-width: 100%; */
}

#openingpic {
  /* max-width: 100%; */
  /* margin-top: 15%;
  margin-bottom: 15%; */
  /* max-height:100%; */
  /* margin-top: 50px;
  margin-bottom: 50px;
  height: 400px; */

  display: grid;
  height: 100%;

}
/* .flex-container { */
  /* margin-top: 80px;
  display: flex;
  align-content: center; */
  /* justify-content: space-evenly; */
  /* flex-direction: column;
  flex-wrap: wrap; */
  

/* } */

.welcome {
  color: white;
  font-size: 5vw;
  margin-bottom: 0;
  /* padding-left: 360px; */
  font-family: "Bungee Shade", cursive;
  /* font-weight: bold; */
  text-align: center;
}

.arizona {
  text-align: center;
  color: #d9663d;
  font-size: 14vw;
  font-family: "Bungee Shade", cursive;
  font-weight: bold;
  letter-spacing: 0.15vw;
  margin-bottom: 3%;
}

.enter {
  text-align: center;
  margin-top: 40px;

}

.enterbtn {
  text-align: center;
  background-color: #2c8008;
  /* font-size: 1.0vw; */
  font-family: "Bungee", cursive;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0.025vw;
  
}
.enterbtn:hover {
  background-color: white;
  color: #2c8008;
}
/* @media only screen and (max-width: 300px) {
  .enter {
    width: 20vw;
    
  }

} */


/* Selection page CSS starts here */

.house2 {
  margin-top: 30px;
  text-align: center;
}

.fontDest {
  
  font-weight: lighter;
  /* background-color: black; */
  color: black;
  font-family: 'Bungee', cursive;
}

.leave {
  margin-top: 25px;
}

.exitbtn {
  text-align: center;
  background-color: #2c8008;

  font-family: "Bungee", cursive;
  /* font-weight: bold; */
  border-style: solid;
  border-color: black;
  border-width: 0.05vw;
}

.exitbtn:hover {
  background-color: white;
  color: #2c8008;
}

.dest1 {
  background-color: #f28b30;
  width: 100%;
  /* font-size: 3vw; */
  font-size: 3vh;
  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  border-color: #f28b30;
  border-style: solid;
  letter-spacing: 1.5vw;
}

.dest1:hover {
  background-color: #f28b30;
  color: white;
}

.dest2 {
  background-color: #35848c;
  width: 100%;
  font-size: 3vh;
  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  border-color: #35848c;
  border-style: solid;
  letter-spacing: 1.35vw;
}

.dest2:hover {
  background-color: #35848c;
  color: white;
}

.dest3 {
  background-color: #d9663d;
  width: 100%;
  font-size: 3vh;
  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  border-color: #d9663d;
  border-style: solid;
  letter-spacing: 1.5vw;
}

.dest3:hover {
  background-color: #d9663d;
  color: white;
}

.dest4 {
  background-color: #d93a2b;
  width: 100%;
  font-size: 3vh;
  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  border-color: #d93a2b;
  border-style: solid;
  letter-spacing: 1.5vw;
}

.dest4:hover {
  background-color: #d93a2b;
  color: white;
}

/* Destination page CSS starts here */

.house3 {
  margin-top: 25px;
  text-align: center;
  /* padding-bottom: 2.5rem; */
}

.footer {
    color: white;
    text-align: center;
    background-color: #f28b30;
    height: 64px;

}

.nav1 {
  background-color: #f28b30;
  font-family: "Bungee", cursive;
}

.destName {
  text-align: center;
  font-size: 40px;
  font-family: "Bungee Shade", cursive;
  color: black;
  font-weight: bolder;
  letter-spacing: 10px;
  width: 30vw;
}

.indicator-item {
  padding: 7px;
}

.carousel {
  /* border-style: solid;
  border-width: 5px;
  border-color: #f28b30; */
  width: 30vw;
  margin: auto;
}

.destDescrip {
  /* margin:auto; */
  /* width: 30vw;
    margin: auto; */
  text-align: justify;
  font-family: 'Aleo', serif;
  margin-top: 4vh;
  width: 30vw;

  /* align-content: center; */
}
.carousel-item img {
  width: 100%;
  height: 100%;
}

#destWeather {
  /* text-align: justify; */
  font-family: 'Aleo', serif;
}

@media only screen and (max-width: 700px) {
  .carousel {
    width: 90vw;
  }

  .destDescrip {
    width: 90vw;
  }

  .destName {
    width: 90vw;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .house3 {
    padding-bottom: 2.5rem;
  }
}
